@page "/add-peer"
@using System.Text.Json
@using ZXingBlazor.Components
@using Microsoft.AspNetCore.Components.Forms
@using WebPushChat.Services
@using WebPushChat.Models
@inject PeerService peerService
@inject NavigationManager navigationManager

<h1>Add peer</h1>

<BarcodeReader Style="ZXingBlazorStyle.Embedded" Decodeonce="false" ScanResult="OnScanResult" />

@code {
    private void OnScanResult(string result)
    {
        var peerInfo = JsonSerializer.Deserialize<PeerInfo>(result);
        if (peerInfo is not null)
        {
            peerService.AddPeer(peerInfo);
            navigationManager.NavigateTo("/");
        }
    }
}
