@page "/"
@using Lib.Net.Http.WebPush
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@using System.Text.Json
@using WebPushChat.Components
@using WebPushChat.Models
@inject VapidKeyService vapidKeyService
@inject SubscriptionService subscriptionService
@inject PeerService peerService
@inject ILogger<Index> logger

<h1>Web Push Chat</h1>

<ul>
    @foreach (var (peer, _) in peerService.Peers)
    {
        <li><a href="/chat/@peer">@peer</a></li>
    }
</ul>

<hr/>

<h2>My peer code:</h2>
<QrCode QrCodeData="@myPeerInfo" />

<hr/>

<h2><a href="/add-peer">Add peer</a></h2>

@code {
    private string myPeerInfo = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await subscriptionService.RegisterSubscription();

        myPeerInfo = JsonSerializer.Serialize(new PeerInfo(vapidKeyService.VapidKeys, subscriptionService.Subscription));
        StateHasChanged();
    }
}
